@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Special+Elite&display=swap');

*{
    padding: 0;
    border: 0;
    margin: 0;
}

/* Page Background */

h1 {
    font-family: 'Special Elite', sans-serif;
    font-size: 70px;
}

h2 {
    font-family: 'Josefin Slab', sans-serif;
    font-size: 60px;
}

p {
    font-family: 'Josefin Slab', sans-serif;
    text-align: center;
}

.page-container {
    background: url("/assets/flag_images/cemetery.png"), #cec5ae;
    background-blend-mode: multiply;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-link {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Josefin Slab', sans-serif;
}

#ww1, #ww2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url("/assets/flag_images/globe.png"), rgba(189, 137, 60, 0.568);
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
    cursor: pointer;
    font-family: 'Josephin Slab', sans-serif;
    font-weight: bold;
}

.init-ww-button-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: -100%;
    z-index: 2;
}

.ww-button-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: -14%;
    transition: margin-bottom 1s cubic-bezier(0.07, 0.86, 1, 1), width 1s cubic-bezier(0.07, 0.86, 1, 1);
    z-index: 2;
}

.init-map-button-container {
    width: 100%;
    visibility: hidden;
    z-index: 1;
    transform: scale(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-button-container {
    width: 100%;
    visibility: visible;
    z-index: 1;
    transform: scale(1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform-origin: top;
    transition: transform 1s ease-in;
    z-index: 1;
}

.period-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 85px;
    border-radius: 50px 50px 50px 50px;
    color: white;
    background-color: #6b2e2a;
    margin-bottom: 4px;
    cursor: pointer;
    opacity: 85%;
    filter: brightness(180%);
    font-family: 'Roboto', 'Arial', 'sans-serif';
}

.pb1 {
    width: 10%;
}

.pb2 {
    width: 15%;
}

.pb3 {
    width: 24%;
}

.pb4 {
    width: 36%;
}

.pb5 {
    width: 49%;
}

.pb6 {
    width: 65%;
}


/* slider */

#slider {
      appearance: none;
      width: 96%;
      height: 3px;
      background: #888581;
      border-radius: 1px;
      outline: none;
      opacity: 0.9;
      filter: brightness(100%);
      transition: opacity 0.2s, filter 0.2s;
      overflow: visible;
      z-index: 2;
      cursor: grab;
}
#slider:hover {
      opacity: 1;
      filter: brightness(150%);
   }

#slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 130px;
      height: 70px;
      background: url("/assets/cluster_images/mww2Aerial.png") no-repeat 0 -10px;
      background-size: cover;
      cursor: pointer;
      opacity: 1;
      transform: rotate(0deg);
      transition: transform 0.5s ease-in-out;
      top: -5px;
      cursor: grab;
   }

#slider:hover::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 130px;
      height: 70px;
      background: url("/assets/cluster_images/mww2Aerial.png") no-repeat 0 -10px;
      background-size: cover;
      cursor: pointer;
      opacity: 1;
      transform: rotate(-15deg);
      transition: transform 0.5s ease-in-out;
      margin-bottom: 70px;
      cursor: grab;
   }

#slider::-webkit-slider-runnable-track {
    height: 0px;
    margin-bottom: 70px;
}

/*--------------------------------------------Map*/

.maps {
    width: 100%;
    height: 630px;
    position: relative;
    z-index: 1;
}

#year { 
    font-family: 'Special Elite', cursive;
    font-size: 35px;
    color: rgb(8, 8, 8);
    bottom: -20%;
    position: absolute;
    z-index: 2;
    margin: 0px 43% 2%;
    width: 15%;
}

#map {
    top: 1%;
    left: 1.5%;
    height: 740px;
    width: 97%;
    position: absolute;
    border-radius: 3px;
}

#overview {
  left: 3%;
  height: 175px;
  border-radius: 50%;
  width: 175px;
  bottom: -15%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: absolute;

}

/* Info Box */

#battleInfoBox {
    position: relative;
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fFlagsNpole {
    height: 100%;
    width: 200px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.eFlagsNpole {
    height: 100%;
    width: 200px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flagpole {
    height: 100%;
    width: 17px;
    background: url("/assets/flag_images/flagpole2.png") no-repeat;
}

.flags {
    width: 100px;
    height: auto;
}

.fFlags {
    margin: 22px 10px 0px 0px;
}

.eFlags {
    margin: 22px 0px 0px 10px;
}

#friendly-flags img {
    width: 100px;
    height: 50px;
}

#enemy-flags img {
    width: 100px;
    height: 50px;
}

.infoBoxTable {
    width: 80%;
}

th, td {
    font-family: 'Josefin Slab', sans-serif;
    color: white;
    margin-bottom: 15px;
    border-bottom: 1px brown;
}

th a {
    text-decoration: none;
    color: rgb(216, 180, 156);
}

td {
    width: 50%;
    text-align: center;
    margin: 20px;
}

.battle-description {
    width: 80%;
    margin: 5% 10% 0 10%;
    font-size: 25px;
}


@media only screen and (max-width: 800px) {
  #overview {
    visibility: hidden;
  }
}

/* Feedback Page */

.feedback-container {
    width: 100vw;
    height: 100vh;
    background-color: #cec5ae;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}